{
  http_port 1456
  https_port 1573
  order forward_proxy before file_server
}
:1573, naive.yuchen168.tk:1573 {  
  tls /tmp/caddy-forwardproxy-naive/yuchen168.tk.crt /tmp/caddy-forwardproxy-naive/yuchen168.tk.key
  forward_proxy {
    basic_auth user_is_yuchen password 
    hide_ip
    hide_via
    probe_resistance
  }
  file_server {
    root /var/www/html
  }
}
